.painel-membros{
    padding-top: 1rem;
}
.titulo-membros{
    text-align: center;
    font-size: 3rem;
    border-top: 1px solid black;
    padding-top: 1rem;
    font-family: 'Bebas Neue';
}
.background-membros{
    background: #5c55ac;
    width: 20rem;
}
.equipe{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.painel-equipe{
    background: #5c55ac;
    width: 21.4rem;
    border-radius: 12px 12px 5px 5px;
    box-shadow: 2.5px 2.5px 3px black;
    padding: 1rem;
}
.painel-img-equipe{
    text-align: center;
}
.img-equipe{
    margin-top: 1rem;
    width: 10rem;
    border-radius: 80%;
}
.painel-nome-profissao{
    text-align: center;
}
.painel-nome{
    font-size: 18px;
    word-break: break-all;
}
.painel-profissao{
    font-size: 15px;
}
/* Redes Sociais*/
.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 7px;
}
.github{
    width: 48px;
}
.zap{
    width: 48px;
}
@media(max-width: 850px){
    
}