.container{
    padding: 0 4rem;
}
.header{
    background: #5E55AE;
}
.navegaçao{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lista-navegaçao{
    display: flex;
    list-style: none;
}
.lista-filho{
    color: #000;
    text-decoration: none;
    font-size: 24px;
    padding: 27px;
    font-weight: bold;
    font-family:'Open Sans';
}
.lista-filho:hover{
    background: #555555;
    color: #fff;
    transition: 0.5s;
}
@media (max-width:850px){
    .navegaçao{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    .lista-navegaçao{
        display: none;
    }
}