.titulo-projetos{
    text-align: center;
    border-top: 1px solid black;
    padding-top: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "bebas neue";
}
.jogos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.5rem;
}
.direta-informações{
    width: 30rem;
}
.direita-titulo-projetos{
    font-size: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}
.direita-sinopse-projetos{
    font-size: 1.3rem;
    font-family: 'Open Sans';
}
.esquerda-informações{
    width: 25rem;
}
.esquerda-titulo-projetos{
    font-size: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}
.esquerda-sinopse-projetos{
    font-size: 1.3rem;
    font-family: 'Open Sans';
}