.orçamento{
    border-top: 1px solid black;
}
.orçamentos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sobre-orçamento{
    width: 25rem;
    display: flex;
    flex-direction: column;
}
.titulo-orçamento{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
.paragrafo-orçamento{
    font-size: 22px;
    font-family:'Open Sans';
    font-weight: bold;
    text-align: justify;
}
.img-orçamento{
    filter: drop-shadow(15px 15px 14px black);
}
.botao-orçamento{
    margin-top: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    font-size: 23px;
    border:1px solid black;
    color: black;
    border-radius: 7px 7px 5px 5px;
    background: #9552BA;
    font-weight: bold;
    box-shadow: px 3px 8px black;
}

@media(max-width:850px){
    .paragrafo-orçamento{
        text-align: center;
    }
    .botao-orçamento{
        margin: auto;
        margin-top: 1.5rem;
    }
    .orçament-image{
        display: none;
    }
}